<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
	<meta charset="UTF-8">
	<title>ToDo App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div class="jumbotron" ng-controller="todoController">
		<h3>{{appTitle}}</h3>

		<hr>

		<ul>
			<li ng-class="{'done': todo.done}" ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done" />
				<span ng-class="{'done':todo.done}">{{todo.title}}</span>
			</li>
		</ul>

		<hr>

		<form name="form" ng-submit="addTodo()">
			<input class="form-control" type="text" name="todonew" ng-model="newTodo" placeholder="Add an item..." required />
			<button class="btn btn-primary btn-block" ng-disabled="form.$invalid">Add Task</button>
		</form>
		
		<button class="btn btn-danger btn-block" ng-disabled="!todoDone(todos)" ng-click="removeCompleted()">Remove Task</button>
	</div>
</body>
</html>